@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my Ads Website Prototype built in ASP.NET Core</a>.</p>
    <img src="https://cdn.dribbble.com/users/1162077/screenshots/3848914/programmer.gif" />
</div>
